h1{
	font-family: "Open Sans Condensed", sans-serif;
	color: #FFFFFF;
	text-align: center;
	background-color: #851944;
}
h2{
	font-family: "Open Sans Condensed", sans-serif;
}
p {
	text-align: justify;
}
body{
	font-family: "Crimson Text", serif;
	background-color: #F2FFFC;
}
